@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.boxmodel_wrapper {
  margin: 0 auto;
  width: 940px;
  background-color: #eff3f4;
}

.boxmodel {
  float: left;
  background-color: #3274ae;
  margin: 20px 0px 20px 20px;
}

.textbox {
  width: 230px;
  background-color: #eaf3f4;
  margin: 20px;
  padding: 20px;
  border: solid 10px #022336;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 16px;
}
/* 回答はここに書いてね */
